:root {
    --just-white: #fff;
    --color-secon: yellow;
    --text-main: 'Reddit Mono', monospace;
    --text-sans: 'DM Sans', sans-serif;
    --text-elite: 'Special Elite', system-ui;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%; 
    overflow-x: hidden;
} 
/* HEADER */
header {
    display: flex;
    width: 100%;
    height: 100px;
    background: linear-gradient(250deg, black 16.69%, gray 100%);
}
.image-container-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 20%;
    height: 100%;  
    padding: 2px;    
}
.image-container-header img {
    width: 100%;
    height: 100px;
    padding: 5px;
} 
.mobile-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%; 
}
.menu-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.menu {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none; 
   
}
.menu > li {
    position: relative;
    padding: 0 15px;
    z-index: 1;
}
.menu li a {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--sans);
    color: white;
    text-decoration-line: none;
}
.menu li a img {
    width: 35px;
    height: 35px;
}
.menu li .list:hover {
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
}
.menu .img:hover {
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
}
.menu li > ul {
    position: absolute;
    display: none;
    list-style: none;
   
}
.menu li:hover > ul {
    position: absolute;
    display: flex;
    flex-direction: column;
}
.menu li ul > li {
    display: block;
    padding: 5px;
   
}
.menu li ul li > a {  
    font-size: 1.5rem;
    padding: 2px;    
}
.menu li ul li > a:hover {  
    background-color: red;
    opacity: 0.5;
    
    
}
/* CELULAR */ 
.icon__menu { 
    font-size: 35px;
    color: var(--just-white);
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: none;
    
}
#label__check {
    width: 500%;
    height: 100%;
    display: none;
}
#check__menu {
    display: none;
}

/* SECCION SLOGAN*/
#slogan {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: black;
    color: var(--color-secon);
    width: 100%;
    height: 300px;  
}
#slogan p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    font-size: 7rem;
    font-family: var(--text-elite);
    font-weight: bold;
}
#slogan h4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--text-elite);
    bottom: 40px;
}
/* SECCION MAIN */
.main-services {
    position: relative;
    display: block;
    width: 100%;
    height: 350px;
    background-color: black;
}
.main-services .products-container--main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
}
.main-services .products-container--main .image-container--main {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 3px;
    width: 30%;
    height: 280px;
    
   
}
.image-container--main img {
    width: 80%;
    height: 250px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(216, 188, 112, 0.16);
}
.image-container--main img:hover {
    background-color: blue;
    cursor: pointer;
}
.main-services .products-container--main .text-container--main {
    position: relative;
    margin: 10px;
    width: 70%;
    height: 350px;
}
.main-services .products-container--main .text-container--main .text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 180px;
    height: 20px;
    color: var(--just-white);
    font-weight: bold;
    font-size: 1.7rem;
    font-family: var(--text-main);
}
.main-services .products-container--main .text-container--main p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--just-white);
    font-weight: 500;
    font-size: 1.3rem;
    font-family: var(--text-main);
    top: 55px;
    width: 100%;
    height: 20px;
}
.main-services .products-container--main .text-container--main h2 {
    position: absolute;
    display: flex;
    align-items: center;
    color: var(--just-white);
    font-weight: 500;
    font-size: 1.3rem;
    font-family: var(--text-main);
    top: 90px;
    width: 100%;
    height: 10px;
}
.main-services .products-container--main .text-container--main ul {
    position: absolute;
    font-size: 1.3rem;
    font-family: var(--text-main);
    font-weight: 500;
    line-height: 2rem;
    color: var(--just-white);
    top: 110px;
    list-style: none;
}
.main-services .products-container--main .text-container--main h3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-family: var(--text-main);
    font-weight: 500;
    line-height: 3rem;
    color: var(--just-white);
    top: 200px;
    width: 100%;
    height: 10px;    
}
.main-services .products-container--main .text-container--main h4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-family: var(--text-main);
    font-weight: 500;
    color: var(--just-white);
    top: 220px;
    width: 100%;
    height: 20px;
}
.main-services .products-container--main .text-container--main h5 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: var(--text-main);
    font-weight: 500;
    color: var(--color-secon);
    top: 260px;
    width: 100%;
    height: 30px;
}
.product-container--services {
    position: relative;
    display: block;
    background-color: black;
    width: 100%;
    height: 350px;
}
.product-container--services .services-information {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
}
.product-container--services .services-information .image-container--services {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 3px;
    width: 30%;
    height: 280px;
}
.product-container--services .services-information .image-container--services img {
    width: 80%;
    height: 250px;
    padding: 5px;
    margin-top: 35px;
    box-shadow: 0 4px 8px rgba(216, 188, 112, 0.16);
}
.product-container--services .services-information .image-container--services  img:hover {
    background-color: blue;
    cursor: pointer;
}
.product-container--services .services-information .product-container--cards {
    position: relative;
    margin: 10px;
    width: 70%;
    height: 350px;
}
.product-container--cards .text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 180px;
    height: 20px;
    color: var(--just-white);
    font-weight: bold;
    font-size: 1.7rem;
    font-family: var(--text-main);
}
.product-container--cards h3 {
    position: absolute;
    display: flex;
    align-items: center;
    width: 205px;
    height: 10px;
    color: var(--color-secon);
    font-weight: bold;
    font-size: 1.6rem;
    font-family: var(--text-main);
    top: 35px;
}
.product-container--cards h4 {
    position: absolute;
    display: flex;
    align-items: center;
    width: 205px;
    height: 20px;
    color: var(--color-secon);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: var(--text-main);
    top: 55px;
}
.product-container--cards ul {
    position: absolute;
    font-size: 1.3rem;
    font-family: var(--text-main);
    font-weight: 500;
    line-height: 2.6rem;
    color: var(--just-white);
    top: 90px;
    list-style: none;
}
.product-container--cards ul li span {
color: red;
}
.combos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
    height: 400px;
    background-color: black;
}
.combos .text-ppal--combos {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    top: 10px;
    width: 150px;
    height: 20px;
    color: var(--just-white);
    font-weight: bold;
    font-size: 1.7rem;
    font-family: var(--text-main);
}
.combos .combos-detail--card {
    background-color: rgb(1, 5, 19);
    padding: 10px;
    width: 400px;
}
.combos .combos-detail--card img {
    border-radius: 20px;
    width: 100%;
    height: 200px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(43, 14, 109, 0.5);
}
.combos .combos-detail--card .combo--card-title {
    margin-top: 10px;
    color: var(--color-secon);
    font-size: 1.2rem;
    font-family: var(--text-elite);
}
.combos .combos-detail--card ul {
    color: var(--color-secon);
    font-size: 1rem;
    font-family: var(--text-elite);
    margin: 10px;
}
.combos .combos-detail--card ul li {
    font-size: 0.8rem;
    line-height: 1.2rem;
}
/* FOOTER */
.footer-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    background: linear-gradient(250deg, black 16.69%, gray 100%);
}
.footer-container .contact-information {
    position: relative;
    width: 70%;
    height: 100%;
    margin: 25px;
}
.footer-container .contact-information p {
    position: relative;
    display: flex;
    margin-left: 65px;
    color: var(--just-white);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.6rem;    
}
.footer-container .contact-information p img {
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    margin-left: -30px;
}
.footer-container .social-icons {
    position: relative;
    width: 30%;
    height: 100%;
}
.footer-container .social-icons ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
}
.footer-container .social-icons ul li {
    position: relative;
    color: var(--just-white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.footer-container .social-icons ul li a img {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: -15px;
    left: -50px;
}

@media (max-width: 640px) {
    header {
        padding: 10px
    }
    .image-container-header {
        width: 200px;
    }
    .menu-container .menu {
        flex-direction: column;
        background-color:black;
        position: fixed;
        justify-content: center;
        left: 0;
        top: 100px;
        width: 100%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 10; 
    }
    #label__check {
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .icon__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    } 
    #check__menu:checked ~ nav .menu {
        height: 150px;
        visibility: visible;
        opacity: 1;
    }
    .menu li ul {
        left: 90px;
        top: 0;
    }
    .menu li a {
        font-size: 1.8rem;
    }
   
}